* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #fff;
    --text-color-allt: #ala1a6;
    --accent-color: #0071e3;
    --accent-color-alt: #2997ff;
    --body-bg: #000;
    --bg-color: #151516;
    --bg-color-alt: #1d1d1f;

    /*Stacking context */
    --z-negative: -1;
    --z-normal: 1;
    --z-sticky: 50;


    /*Utils*/
    --header-height: 3rem;
    --time: 150ms
}

body {
    color: var(--text-color);
    font-family: var(--body-font);
    background-color: var(--body-bg);
    overflow-x: hidden;
}

button {
    all: unset;
    cursor: pointer;
}

a {
    color: var(--accent-color-alt);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.black-background {
    background-color: var(--bg-color);
}

.black-background-alt {
    background-color: var(--bg-color-alt);
}